# macOS
.DS_Store
# idea
.idea
*.iws
*.iml
*.ipr
# Gradle
.gradle
!gradle-wrapper.jar
build
# c
cmake-build-debug
cmake-build-debug-coverage
cmake-build-release
autom4te.cache
*.log_mini
crt
*.plantuml
*.mmd
instruction
my_breakpoints*.json
temp.adoc
reorder.cpp
reorder_test.cpp
syntax_.adoc
minicrt
